* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    color: black;
}

a {
    text-decoration: none;
    color: black;
    margin: 0;
    padding: 0;
}

header {
    margin-bottom: 20px;
}

.head-menu {
    background-color: #ff7d01;
    display: flex;
    align-items: center;
    padding: 0 10%;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
}

.main-logo a img {
    max-width: 100%;
    width: 100%;
}

.primary-menu,
.tool-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
}

.primary-menu>li,
.tool-menu>li {
    padding: 10px;
    margin: 20px;
}

.primary-menu > li >a {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding: 15px 20px;
}

.tool-menu>li>a {
    font-size: 35px;
}

.current-item {
    background-color: #ff9633;
}

.primary-menu .current-item>a,
.primary-menu li:hover>a {
    background-color: #ff9633;
}