* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

a {
    color: #fff;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
}