* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

a {
    color: #fff;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.logo {
    padding: 0 !important;
    margin: 0;
}

.logo>img {
    width: 100px;
    max-width: 100%;
}

ul,
li {
    padding: 0;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100vh;
    background-color: #ff7d01;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    z-index: 1000;
}

.sidebar .logo {
    width: 100px;
    margin-bottom: 30px;
}

.sidebar-username {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0;
}

.sidebar-role {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}

.sidebar-menu {
    width: 100%;
}

.sidebar-menu li {
    display: none;
    width: 100%;
    text-align: left;
}

.sidebar-menu li a {
    color: #fff;
    font-size: 20px;
    font-weight: 900;
    display: block;
    padding: 20px 30px;
}

.sidebar-menu li:hover,
.sidebar-menu .current-item {
    background-color: #ff9633;
}

.manage-content {
    margin-left: 250px;
    padding: 30px;
}