/*Reset css mặc định*/
* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

a {
    color: #fff;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    padding-bottom: 20px; 
}
/*Menu*/
.logo {
    padding: 0 !important;
    margin: 0;
}

.logo>img {
    width: 120px;
    max-width: 100%;
}

header {
    margin-bottom: 20px;
}

.head-menu {
    background-color: #ff7d01;
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.primary-menu,
.tool-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
}

.primary-menu>li,
.tool-menu>li {
    padding: 30px;
}

.primary-menu>li>a {
    color: #fff;
    font-size: 20px;
    font-weight: 900;
    padding: 30px;
}

.tool-menu>li>a {
    font-size: 35px;
}

.current-item {
    background-color: #ff9633;
}

.primary-menu .current-item>a,
.primary-menu a:hover {
    background-color: #ff9633;
}

/*Nút giỏ hànd*/
.basket-shopping {
    position: relative;
}
.basket-shopping>i {
    font-size: 50px;
}

#countCart {
    position: absolute;
    right: -15px;
    top: -20px;
    background-color: #cc3e44;
    border: 1px solid #cc3e44;
    border-radius: 50%;
    font-size: 18px;
    width: 30px;
    height: 30px;
    color: #fff;
    text-align: center;
    font-weight: 700;
}
#cart {
    width: 450px;
    background-color: #eee;
    display: none;
    position: absolute;
    right: 0;
    top: 70px;
    z-index: 1000;
    border-radius: 8px;
    padding: 10px;
    z-index: 1000;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.arrow-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 12px solid #eee;
    position: absolute;
    top: -12px;
    right: 20px;
}
#cartWrapper {
    position: relative;
    display: inline-block;
}
.cartItemImg {
    max-width: 100%;
    width: 100%;
}
.cartItemInfor {
    margin: 0;
    font-size: 12px;
}
.cartItemTitle, .cartItemPrice {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
}
.deleteCartItem > i {
    font-size: 20px;
    font-weight: 600;
    color: #aaa;
}
.deleteCartItem > i:hover {
    color: #ccc;
}
.deleteCartItem {
    text-align: right;
}
#cartPrice {
    position: relative;
}
.cartItemPrice {
    position: absolute;
    bottom: 0;
}
#cartItemTotal {
    font-size: 20px;
    font-weight: 700;
    text-align: right;
    color: #cc3e44;
}
#emptyCart, #emptyCart > i {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #ff7d01;
}
#pay {
    display: inline-block;
    padding: 10px;
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    background-color: #ff7d01;
    border-radius: 10px;
    margin-bottom: 20px;
}
#pay:hover {
    background-color: #ff9633;
}

/* Footer */
footer {
    background-color: #ff7d01;
    padding-top: 50px;
    font-size: 18px;
    font-weight: 900;
    color: #fff;
    text-align: center;
}

.hotline {
    font-size: 36px;
}

.footer-navigation li {
    padding: 5px 0;
}

.end-logo {
    width: 50%;
    max-width: 100%;
}

.advert {
    margin-top: 20px;
}
.advert p {
    text-align: left;
}

.social-icon {
    padding: 0;
    margin: 0;
    text-align: right;
}

.social-icon a {
    padding: 15px;
    margin: 0;
    font-size: 20px;
}
#cartItemList {
  max-height: 260px;
  overflow-y: hidden;
}
#cartItemList .row {
  margin-left: 0;
  margin-right: 0;
}